body, a {
    background-color: rgb(18, 18, 180);
    color: yellow;
    font-family: "Georgia", serif;
    text-align: auto;
}
p, ul, ol, li {
    color: white;
    font-family: "Georgia", serif;
    text-align: left;
}
img {
    width: 400px;
    height: auto;
}
a:hover {
    color: purple;
}
ul {
    list-style-type: square;
}